#############
## Custom Stuff
#############

# target directory
target/
target/generated-sources/
target/generated-test-sources/

# IntelliJ stuff
.idea/
*.iml
pom.xml

# JavaDoc directory
javaDoc/

# PDF files
*.pdf


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
